{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "Cradl AI",
    "description": "OCR, extract, and review structured information from PDFs, images, handwriting, and scans. Build your own purpose-built AI agent to automate your document processing.",
    "contact": {
      "name": "Cradl AI Support",
      "url": "https://www.cradl.ai",
      "email": "support@cradl.ai"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.cradl.ai"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://docs.cradl.ai/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Content and Files"
    }
  ],
  "host": "api.cradl.ai",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/documents": {
      "post": {
        "summary": "Create document (deprecated)",
        "operationId": "CreateDocumentDeprecated",
        "description": "Create a new document.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Name",
            "x-ms-summary": "Name",
            "in": "header",
            "description": "The name of your document.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "File content",
            "description": "The file content.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "type": "object",
              "properties": {
                "documentId": {
                  "type": "string",
                  "description": "The document ID"
                }
              }
            }
          }
        }
      }
    },
    "/metadata/{documentId}": {
      "get": {
        "summary": "Get document metadata",
        "operationId": "GetDocumentMetadata",
        "description": "Retrieve metadata such as name and content type for a document.",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "documentId",
            "required": true,
            "x-ms-summary": "Document Id",
            "description": "The document ID, in the format cradl:document:xxx.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "type": "object",
              "properties": {
                "documentId": {
                  "type": "string",
                  "x-ms-summary": "DocumentId",
                  "description": "The document which was parsed"
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Document name",
                  "description": "The name of the Document"
                },
                "contentType": {
                  "type": "string",
                  "x-ms-summary": "Content type",
                  "description": "Content Type of the Document"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{documentId}": {
      "get": {
        "summary": "Get document",
        "operationId": "GetDocument",
        "description": "Retrieve the content of a document.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "documentId",
            "required": true,
            "x-ms-summary": "Document Id",
            "description": "The document ID, in the format cradl:document:xxx.",
            "type": "string"
          }
        ],
        "produces": [ "application/octet-stream" ],
        "responses": {
          "200": {
            "description": "The content of the file.",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      }
    },
    "/predictions": {
      "post": {
        "summary": "Parse document (deprecated)",
        "operationId": "ParseDocumentDeprecated",
        "description": "Extract data from documents such as invoices, receipts, and order confirmations.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Request",
            "schema": {
              "type": "object",
              "properties": {
                "modelId": {
                  "x-ms-summary": "Model",
                  "description": "Select your model.",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetModelsDeprecated",
                    "value-path": "modelId",
                    "value-title": "name",
                    "value-collection": "models",
                    "parameters": {}
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetModelsDeprecated",
                    "itemsPath": "models",
                    "itemValuePath": "modelId",
                    "itemTitlePath": "name",
                    "parameters": {}
                  },
                  "title": "Model",
                  "x-ms-visibility": "important"
                },
                "documentId": {
                  "x-ms-summary": "Document ID",
                  "description": "The name of the file, e.g., Document.pdf.",
                  "type": "string",
                  "title": "Document ID",
                  "x-ms-visibility": "important"
                },
                "postprocessConfig": {
                  "$ref": "#/definitions/PostprocessConfig"
                },
                "preprocessConfig": {
                  "$ref": "#/definitions/PreprocessConfig"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "documentId",
                "modelId"
              ]
            },
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "type": "object",
              "properties": {
                "documentId": {
                  "type": "string",
                  "description": "The document which was parsed"
                },
                "inferenceTime": {
                  "type": "number",
                  "format": "float",
                  "description": "The number of seconds used to process this document"
                },
                "modelId": {
                  "type": "string",
                  "description": "The model which was used"
                },
                "postprocessConfig": {
                  "$ref": "#/definitions/PostprocessConfig"
                },
                "preprocessConfig": {
                  "$ref": "#/definitions/PreprocessConfig"
                },
                "predictions": {
                  "type": "object",
                  "description": "predictions",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "confidence": {
                          "type": "number",
                          "format": "float"
                        }
                      }
                    }
                  }
                },
                "trainingId": {
                  "type": "string",
                  "description": "The model training"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "summary": "Get my models (deprecated)",
        "operationId": "GetModelsDeprecated",
        "x-ms-visibility": "internal",
        "description": "Retrieve a list of available models.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Models"
            }
          },
          "default": {
            "description": "Default response"
          }
        }
      }
    },
    "/agents": {
      "post": {
        "summary": "Extract data from document",
        "operationId": "CreateRun",
        "description": "Extract data from documents such as invoices, receipts, and order confirmations.",
        "consumes": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": { "final-state-via": "location" },
        "parameters": [
          {
            "in": "header",
            "name": "AgentId",
            "required": true,
            "x-ms-skip-url-encoding": true,
            "x-ms-summary": "Agent",
            "description": "Select your agent.",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAgents",
              "value-path": "agentId",
              "value-title": "name",
              "value-collection": "agents",
              "parameters": {}
            },
            "x-ms-dynamic-list": {
              "operationId": "GetAgents",
              "itemsPath": "agents",
              "itemValuePath": "agentId",
              "itemTitlePath": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important"
          },
          {
            "in": "header",
            "name": "ActionId",
            "required": true,
            "x-ms-skip-url-encoding": true,
            "x-ms-summary": "Action",
            "description": "Select your export action.",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetActions",
              "value-path": "actionId",
              "value-title": "name",
              "value-collection": "actions",
              "parameters": {}
            },
            "x-ms-dynamic-list": {
              "operationId": "GetActions",
              "itemsPath": "actions",
              "itemValuePath": "actionId",
              "itemTitlePath": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important"
          },
          {
            "in": "header",
            "name": "maxWaitInterval",
            "required": false,
            "x-ms-summary": "Max wait interval",
            "x-ms-skip-url-encoding": true,
            "description": "The maximum number of minutes to wait before trying again.",
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "header",
            "name": "variables",
            "required": false,
            "x-ms-summary": "Variables",
            "x-ms-skip-url-encoding": true,
            "description": "JSON-encoded key-value pairs, e.g., {\"origin\": \"PowerAutomate\"}.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "header",
            "name": "title",
            "x-ms-summary": "Title",
            "description": "The title of the document or run.",
            "required": false,
            "x-ms-skip-url-encoding": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "in": "body",
            "name": "document",
            "x-ms-summary": "Document",
            "description": "Binary content of the file.",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Document parsing started. Poll the URL in the Location header to get the result.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL to poll for job status"
              },
              "Retry-After": {
                "type": "string",
                "description": "Number of seconds before polling again"
              }
            }
          },
          "200": {
            "description": "Default response",
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "GetSchema",
                "parameters": {
                  "AgentId": {
                    "parameter": "AgentId"
                  }
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetSchema",
                "parameters": {
                  "AgentId": {
                    "parameterReference": "AgentId"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get my agents",
        "operationId": "GetAgents",
        "description": "Retrieve a list of available agents.",
        "x-ms-visibility": "internal",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "agents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "agentId": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                },
                "nextToken": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default response"
          }
        }
      }
    },
    "/validate": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Validate trigger output",
        "description": "Validate the output from a trigger.",
        "operationId": "Validate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ActionId",
            "in": "header",
            "x-ms-summary": "ActionId",
            "required": true,
            "description": "The ID of the trigger action (cradl:action:xxx).",
            "type": "string"
          },
          {
            "name": "X-Cradl-Shared-Secret",
            "in": "header",
            "x-ms-summary": "X-Cradl-Shared-Secret",
            "required": true,
            "description": "@{triggerOutputs()['headers']['X-Cradl-Shared-Secret']}",
            "type": "string",
            "default": "@{triggerOutputs()['headers']['X-Cradl-Shared-Secret']}"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/actions": {
      "x-ms-notification-content": {
        "description": "Completed run from Cradl AI.",
        "schema": {
          "x-ms-dynamic-schema": {
            "operationId": "GetSchema",
            "parameters": {
              "ActionId": {
                "parameter": "ActionId"
              }
            }
          },
          "x-ms-dynamic-properties": {
            "operationId": "GetSchema",
            "parameters": {
              "ActionId": {
                "parameterReference": "ActionId"
              }
            }
          }
        },
        "headers": {
          "X-Cradl-Shared-Secret": {
            "description": "Shared Secret to verify trigger event.",
            "type": "string"
          }
        }
      },
      "post": {
        "x-ms-trigger": "single",
        "summary": "Extracted data from document",
        "description": "This operation triggers when data is extracted from your document.",
        "operationId": "RunCompleted",
        "parameters": [
          {
            "in": "header",
            "name": "ActionId",
            "required": true,
            "x-ms-skip-url-encoding": true,
            "x-ms-summary": "Export action",
            "description": "The ID of the action that defines the export.",
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetActions",
              "value-collection": "actions",
              "value-title": "name",
              "value-path": "actionId",
              "parameters": {
                "waitForResult": {
                  "staticParameter": "yes"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetActions",
              "itemsPath": "actions",
              "itemTitlePath": "name",
              "itemValuePath": "actionId",
              "parameters": {
                "waitForResult": {
                  "value": "yes"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "enabled": {
                  "type": "boolean",
                  "description": "A flag that enables/disables the action.",
                  "default": true,
                  "x-ms-visibility": "internal"
                },
                "config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "url",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": "Webhook URL"
                    },
                    "httpMethod": {
                      "type": "string",
                      "description": "http method",
                      "x-ms-visibility": "internal",
                      "title": "Http Method",
                      "default": "POST",
                      "enum": [
                        "POST",
                        "GET",
                        "PUT"
                      ]
                    },
                    "params": {
                      "type": "object",
                      "description": "parameters that will be sent in as params to the webhook.",
                      "x-ms-visibility": "internal",
                      "title": "Params"
                    }
                  },
                  "description": "Configuration for the trigger.",
                  "required": [
                    "url",
                    "httpMethod"
                  ]
                }
              },
              "x-ms-visibility": "advanced",
              "required": [
                "config",
                "enabled"
              ]
            },
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "type": "object",
              "properties": {
                "output": {"type": "object"},
                "context": {"type": "object"}
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get my actions",
        "operationId": "GetActions",
        "x-ms-visibility": "internal",
        "description": "Retrieve a list of available actions.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "waitForResult",
            "required": false,
            "x-ms-summary": "Only Synchronous Exports",
            "description": "Filter async or sync export actions",
            "type": "string"
          },
          {
            "in": "header",
            "name": "AgentId",
            "required": false,
            "x-ms-summary": "Only show actions for this agent",
            "description": "Agent Id to filter actions",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "actions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actionId": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                },
                "nextToken": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default response"
          }
        }
      }
    },
    "/actions/{actionId}": {
      "delete": {
        "summary": "Delete trigger",
        "description": "Stop acting when a run completes.",
        "x-ms-visibility": "internal",
        "operationId": "DeleteTrigger",
        "parameters": [
          {
            "in": "path",
            "name": "actionId",
            "required": true,
            "x-ms-summary": "Action",
            "description": "Action that will be deleted.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "type": "object",
              "properties": {
                "actionId": {
                  "type": "string",
                  "description": "A unique ID for this action."
                }
              }
            }
          }
        }
      }
    },
    "/schema": {
      "get": {
        "summary": "Get schema",
        "operationId": "GetSchema",
        "x-ms-visibility": "internal",
        "description": "Retrieve the schema for the agent run output.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "AgentId",
            "required": false,
            "x-ms-summary": "Agent",
            "description": "The agent that defines the schema.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "ActionId",
            "required": false,
            "x-ms-summary": "Action",
            "description": "The action that defines the schema.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "output": {
                  "type": "object",
                  "description": "The output schema of the action."
                },
                "context": {
                  "type": "object",
                  "description": "Contextual properties for the run.",
                  "properties": {
                    "runId": {
                      "type": "string",
                      "x-ms-summary": "AgentRunId",
                      "description": "The Id of the run."
                    },
                    "documentId": {
                      "type": "string",
                      "x-ms-summary": "DocumentId",
                      "description": "The Id of the document."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Default response"
          }
        }
      }
    },
    "/agents/{agentId}/runs/{runId}": {
      "get": {
        "summary": "Get agent run info",
        "description": "Retrieve information about a run, and return the full output if the run has completed.",
        "operationId": "GetAgentRun",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "x-ms-summary": "AgentId",
            "description": "The id of the agent.",
            "type": "string"
          },
          {
            "name": "runId",
            "in": "path",
            "x-ms-summary": "RunId",
            "description": "The id of the agent run.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Job still processing"
          },
          "200": {
            "description": "Job completed successfully",
            "schema": {
              "type": "object",
              "properties": {
                "output": {"type": "object"},
                "context": {"type": "object"}
              }
            }
          },
          "400": { "description": "Invalid job ID" },
          "404": { "description": "Job not found" }
        }
      }
    },
    "/workflows": {
      "post": {
        "summary": "Parse document with human-in-the-loop (deprecated)",
        "operationId": "CreateExecutionDeprecated",
        "description": "Extract data from documents such as invoices, receipts, and order confirmations.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "WorkflowId",
            "required": true,
            "x-ms-skip-url-encoding": true,
            "x-ms-summary": "Workflow",
            "description": "Select your workflow.",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkflowsDeprecated",
              "value-path": "workflowId",
              "value-title": "name",
              "value-collection": "workflows",
              "parameters": {}
            },
            "x-ms-dynamic-list": {
              "operationId": "GetWorkflowsDeprecated",
              "itemsPath": "workflows",
              "itemValuePath": "workflowId",
              "itemTitlePath": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important"
          },
          {
            "in": "body",
            "name": "Request",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "input"
              ],
              "properties": {
                "input": {
                  "$ref": "#/definitions/WorkflowInput"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "type": "object",
              "properties": {
                "executionId": {
                  "type": "string",
                  "description": "A unique ID for this execution."
                },
                "status": {
                  "type": "string",
                  "description": "A status indicator for this execution."
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get my workflows (deprecated)",
        "operationId": "GetWorkflowsDeprecated",
        "description": "Retrieve a list of available workflows.",
        "x-ms-visibility": "internal",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "workflows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "workflowId": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                },
                "nextToken": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default response"
          }
        }
      }
    }
  },
  "parameters": {},
  "tags": [],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "ClientCredentials"
    }
  },
  "definitions": {
    "PostprocessConfig": {
      "type": "object",
      "x-ms-visibility": "advanced",
      "x-ms-summary": "Postprocessing",
      "properties": {
        "outputFormat": {
          "type": "string",
          "description": "The output format.",
          "title": "Output format",
          "x-ms-summary": "The output format",
          "default": "v2",
          "enum": [
            "v1",
            "v2"
          ]
        },
        "strategy": {
          "type": "string",
          "description": "The strategy used to aggregate predictions.",
          "enum": [
            "BEST_N_PAGES",
            "BEST_FIRST"
          ],
          "x-ms-summary": "The strategy used for aggregating predictions.",
          "default": "BEST_FIRST"
        }
      }
    },
    "PreprocessConfig": {
      "type": "object",
      "x-ms-visibility": "advanced",
      "x-ms-summary": "Preprocessing",
      "properties": {
        "autoRotate": {
          "type": "boolean",
          "description": "Flag indicating whether the document orientation should be auto-detected."
        },
        "maxPages": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of pages to process in a single request."
        },
        "imageQuality": {
          "type": "string",
          "description": "The image quality used when processing this document."
        }
      }
    },
    "Models": {
      "type": "object",
      "properties": {
        "models": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "modelId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        },
        "nextToken": {
          "type": "string"
        }
      }
    },
    "WorkflowInput": {
      "type": "object",
      "required": [
        "documentId"
      ],
      "properties": {
        "documentId": {
          "x-ms-summary": "Document ID",
          "x-ms-visibility": "important",
          "title": "Document ID",
          "type": "string",
          "description": "The ID of the document that was submitted."
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important",
          "description": "The title, e.g., Invoice.pdf."
        },
        "predictions": {
          "type": "object",
          "x-ms-summary": "Predictions",
          "x-ms-visibility": "advanced",
          "description": "Manually override the predictions used in this workflow execution."
        }
      }
    }
  }
}
